form {
    float: left;
}

form input {
    margin: 5px 40px; 
}

form input[type="submit"] {
    margin: 10px 90px;
}

p.favoriteGame {
    text-align: center;
    color: red;
    font-size: 21px;
}

.games {
    margin-left: 300px;
}